<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administration</title>
    <link rel="stylesheet" href="/stylesheets/style,admin.css" />
    <script src="/javascripts/admin.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <aside class="aside">
      <h3 class="produkter">Produkter</h3>
    </aside>
    <main>
      <section class="section">
        <div class>
          <h2 class="sectionProdukter">Produkter</h2>
          <a href="/admin/products/new"
            ><button class="button2" type="button">Ny produkt</button></a
          >
            <button id="loadProductsButton1" class="button1" type="button">Ladda produkt</button>
          
        </div>
        <table id="productList">

          <tr>
            <th>Namn</th>
            <th>SKU</th>
            <th>Pris</th>
          </tr>

        </table>
      </section>
    </main>
  </body>
</html>