<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administration</title>
    <link rel="stylesheet" href="styles,admin.css" />
  </head>
  <body>
    <h1><% title %>></h1>
    <aside class="aside">
      <h3 class="produkter">Produkter</h3>
    </aside>
    <main>
      <section class="section">
        <h2 class="sectionProdukter">Produkter</h2>

        <!-- Lägg till "Ladda produkter-knapp"
              Skapa en tom lista
              Skapa sedan en funktion som adderar data från get-request till listan
              PAUS.
        -->

        <a href="approved.html"
          ><button class="button" type="button">Ny produkt</button></a
        >

        <table>
          <tr>
            <th class="tableHead1">Namn</th>
            <th class="tableHead1">SKU</th>
            <th class="tableHead1">Pris</th>
          </tr>
          <tr>
            <td class="tableCell1">Svart T-Shirt</td>
            <td class="tableCell1">AAA111</td>
            <td class="tableCell1">199</td>
          </tr>
          <tr>
            <td>Vit T-Shirt</td>
            <td>BBB111</td>
            <td>199</td>
          </tr>
          <tr>
            <td class="tableCell3">...</td>
            <td class="tableCell3"></td>
            <td class="tableCell3"></td>
          </tr>
        </table>
      </section>
    </main>
  </body>
</html>
