<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Administration</title>
    <link rel="stylesheet" href="styles,admin.css" />
  </head>
  <body>
    <h1>Administration</h1>
    <aside class="aside">
      <h3 class="produkter">Produkter</h3>
    </aside>
    <main>
      <section class="section">
        <h2 class="sectionProdukter">Godkänd</h2>
        <a href="index.html"
          ><button class="button" type="button">Ny produkt</button></a
        >
      </section>
    </main>
  </body>
</html>
