* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  margin-top: 0;
  padding: 20px;
  color: white;
  background-color: rgb(48, 48, 48);
}

h2 {
  padding: 20px;
}
.aside {
  position: relative;
  float: left;
  background-color: rgb(193, 193, 193);
  border: 1px solid black;
  width: 8%;
  height: 1000px;
  margin-right: 1rem;
}

label,
input,
button {
  display: block;
}

input {
  margin-bottom: 1rem;
}
